footer{
    background: $btnColor;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 40px;
    padding-bottom: 20px;
    
        ul{
            margin-bottom: 30px;
            li{
                margin: 10px 0;
                list-style: none;
                color: white;
            }
        }
    
}